<!DOCTYPE html>
<html>
<head>
	<title>SBA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
	<script src="/api/jquery2.js"></script>
</head>
<body>
		{{{body}}}
<script src="/api/bootstrap.min.js"></script>
</body>
