<!DOCTYPE html>
<html>
<head>
    <title>Примеры. Макет в виде круговой диаграммы (PieChart).</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="api/jquery2.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="scripts/piemap.js" type="text/javascript"></script>
    <style>
        html, body, #map {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }
    </style>
</head>
<body>
	<form id='addToFilter'>
	<select class="form-control" id='bkSelect' class='form-control'>
		<option value='leon'>Выберите БК</option>
		<option value='leon'>Леон</option>
		<option value='fonbet'>Фонбет</option>
		<option value='olimp'>Олимп</option>
		<option value='baltbet'>Балтбет</option>
		<option value='1xstavka'>1х ставка</option>
		<option value='ligastavok'>Лига ставок</option>
		<option value='winline'>Винлайн</option>
		<option value='888'>888</option>
		<option value='123'>Где долбят в очко</option>
		<option value='atlantik-m'>Атлантик-М</option>
		<option value='betring'>Бетринг</option>
		<option value='betru'>БетРУ</option>
		<option value='digitalbetting'>Дижитал беттинг</option>
		<option value='favorit'>Фаворит</option>
		<option value='firmastom'>ФирмаСТОМ</option>
		<option value='fortuna'>Фортуна</option>
		<option value='investcompcentr'>ИнвестКомпанияЦентр</option>
		<option value='investgarant'>ИнвестГарант</option>
		<option value='johnygame'>ДжонниГей</option>
		<option value='marathon'>Марафон</option>
		<option value='matchbet'>Матчбет</option>
		<option value='melofon'>Мелофон</option>
		<option value='panorama'>Панорама</option>
		<option value='rosbet'>Росбет</option>
		<option value='rosippodromi'>Росипподромы</option>
		<option value='rusteletot'>Рустелетот</option>
		<option value='sportbet'>Спортбет</option>
		<option value='starbet'>Старбет</option>
		<option value='williamhill'>ВилльямХилл</option>
		</select>
		<button type='submit'>Добавить в фильтр</button>
	</form>	
	<ul id='bkFilterList'>
	</ul>
	<button id='showMap'>Показать на карте</button>
    <div id="map"></div>
</body>
</html>